Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers
WarningsAsErrors: ""
HeaderFilterRegex: ".*"
